.Chart-Bar {
    /* position: absolute; */
    width: 800px;
    height: 500px;
    /* top: 30%; */
    /* background-color: brown; */
    margin-left: 10%;
    margin-top: 5%;
    /* bottom: -30; */
}

.Chart-Line {
    /* position: absolute; */
    width: 800px;
    height: 500px;
    top: 10%;
    left: 20%;
    /* background-color: darkcyan; */
    margin-left: 10%;
    margin-top: 2%;
}

.Chart-Pie {
    width: 500px;
    height: 600px;
    /* background-color: rgb(23, 44, 44); */
    margin-left: 1%;
    /* margin-top: 2%; */
}

.Chart-Pie-2 {
    width: 500px;
    height: 600px;
    /* background-color: rgb(23, 44, 44); */
    margin-left: 43%;
    margin-top: -600px;
}